[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
tox = "*"
pytest = "*"
pytest-django = "*"
pytest-coverage = "*"
pytest-pythonpath = "*"
pytest-echo = "*"
django-webtest = "*"

[requires]
python_version = "3.6"
