[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
django = "*"
tox = "*"
factory-boy = "*"
"psycopg2" = "*"
pytest = "*"
pytest-django = "*"
pytest-coverage = "*"
pytest-pythonpath = "*"
pytest-echo = "*"
django-webtest = "*"
djangorestframework = "*"
pdbpp = "*"

[requires]
python_version = "3.6"
