[run]
branch = False
source = drf_querystringfilter
include =

omit = **/drf_querystringfilter/__init__.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:


ignore_errors = True

[html]
directory = ~build/coverage
